
.form {
    background-color: rgba(25, 204, 55, 0.719);
    padding-left: 0%;
    padding-right: 15%;
    border-radius: 6px;
}

h1 {
    color: rgba(155, 207, 58, 0.658);
    text-align: center;

}

.button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(122, 0, 245);
    color: rgb(242, 240, 255);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    padding: 20px;
    margin: 15px 0px;
    border-radius: 10px;
    border: 2px solid gray;
}